<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>State Borders</title>
    <link rel="stylesheet" type="text/css" href="css/sbfunc.css">
  </head>
  <body>
      

   <h1> State Borders </h1>
   <h2><em>{{func}}</em></h2>
   
   <p>User IP Address: {{ip}}</p>
   <p>{{req}}</p>
   <p>{{ans}}</p>
   
   

   
   </br></br>
   
   <a href="stateborders">Back to Instructions</a>
   
   <a href="/2019ajayaram">Home</a>


  </body>
</html>
