<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>State Borders</title>
    
  </head>
  <body>
      

   <h1> State Borders </h1>
   <p>Hello. You are visitor number {{count}}. </div></div></p>
   
   <div class="marginL">
        <h3><u>Instructions</u></h3>
        </br>You may use 4 different functions through 4 different handlers:
        </br>
        <ol>
            <li><em>doStatesBorder</em>: This function returns a boolean of whether two states share a border. There are two different inputs - s1 and s2, the names or abbreviations of states (not case-specific). Go to <a href="do_states_border ">https://user.tjhsst.edu/2019ajayaram/do_states_border</a>, add a '?', and define the two variables s1 and s2. Separate the definitions with an '&'.</li>
            </br>
            <li><em>getStateBorders</em>: This function returns a list of states that border the inputted state. There is one input - s1, the name or abbreviation of a state (not case-specific). Go to <a href="get_state_borders">https://user.tjhsst.edu/2019ajayaram/get_state_borders</a>, add a '?', and define the variable s1.</li>
            </br>
            <li><em>getCloseStates</em>: This function returns a list of states that are reachable from the inputted state by crossing at most two state borders. There is one input - s1, the name or abbreviation of a state (not case-specific). Go to <a href="get_close_states">https://user.tjhsst.edu/2019ajayaram/get_close_states</a>, add a '?', and define the variable s1.</li>
            </br>
            <li><em>statesWithBorders</em>: This function returns a list of states with the inputted number of borders. There is one input - n, the number representing the number of borders. Go to <a href="states_with_borders">https://user.tjhsst.edu/2019ajayaram/states_with_borders</a>, add a '?', and define the variable n.</li>
        </ol>
    </div>

   

   
   
   
   </br></br>
   
   <a href="/2019ajayaram">Home</a>


  </body>
</html>
